name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - run: npm i -g --force corepack
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "pnpm"

      - uses: dtolnay/rust-toolchain@stable

      - name: install nsis
        run: |
          iwr -useb get.scoop.sh -outfile 'install.ps1'
          .\install.ps1 -RunAsAdmin
          scoop update
          scoop bucket add extras
          scoop install nsis
          echo "$env:USERPROFILE\scoop\apps\nsis\current" >> $env:GITHUB_PATH

      - run: pnpm i
      - run: ./.scripts/build.ps1
      - run: ./.scripts/create-installer.ps1

      - name: generate release notes
        run: ./.scripts/generate-release-notes.ps1

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          body_path: RELEASE_NOTES.md
          files: |
            ./dist/*.exe
